# ==========================
# Application
# ==========================

PROJECT_NAME="S3 Native Decoupled Compute OLAP Query Engine"
API_VERSION="v1"
LOG_LEVEL="INFO"

# ==========================
# PostgreSQL
# ==========================

DATABASE_URL="postgresql+psycopg://postgres:postgres@localhost:5433/olap_engine"

# ==========================
# AWS
# ==========================

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION="ap-south-1"

S3_BUCKET_NAME=""

# ==========================
# Development
# ==========================

ENVIRONMENT="development"
DEBUG=True