# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================

.venv/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Python
# ==========================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==========================
# Build
# ==========================

dist/
build/
*.egg-info/